@{
    ViewBag.Title = "modif";
}

<h2>modif</h2>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <form method="post" action="http://localhost:31416/person/exeMod/@ViewBag.pers.Id">
                <div class="card  ">
                  <div class="card-header text-white bg-primary mb-3">Header</div>
                  <div class="card-body">
                      <div class="form-group">
                          <label class="col-form-label mt-4" for="inputDefault">Nom</label>
                          <input value="@ViewBag.pers.Nom" type="text" name="nom" class="form-control" placeholder="Default input" >
                        </div>
                      <div class="form-group">
                          <label class="col-form-label mt-4" for="inputDefault">Email</label>
                          <input value="@ViewBag.pers.Email" type="text" name="email" class="form-control" placeholder="Default input" >
                        </div>
                      <div class="form-group">
                          <label class="col-form-label mt-4" for="inputDefault">Mots De Passe</label>
                          <input value="@ViewBag.pers.Mdp" type="text" name="mdp" class="form-control" placeholder="Default input" >
                        </div>
                      <div class="form-group">
                          <label class="col-form-label mt-4" for="inputDefault">Age</label>
                          <input value="@ViewBag.pers.Age" type="text" name="age" class="form-control" placeholder="Default input" >
                        </div>
                    <button type="submit" class="btn btn-dark">Valider</button>
                  </div>
            
                </div>
            </form>
    </div>
    <div class="col-1"></div>
</div>